six==1.14.0

numpy==1.18.1

scipy==1.4.1

matplotlib==3.0.3
scikit-image==0.15.0

imageio==2.8.0

Shapely==1.7.0

opencv-python==4.2.0.32

Pillow==5.3.0

ipython==7.9.0
imgaug==0.4.0
tensorflow==2.6.4

tensorflow-tensorboard==1.5.1
tensorflow-gpu==1.10.0

keras==2.2.4
git+https://www.github.com/keras-team/keras-contrib.git